{% extends 'base.html' %}

{% block content %}
	<!-- Google Code for conversao Conversion Page -->
	
	<!-- Tag Conversão -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 987838039;
	var google_conversion_language = "en";
	var google_conversion_format = "2";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "sZBYCNnamAgQ1-yE1wM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/987838039/?label=sZBYCNnamAgQ1-yE1wM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<!-- -->

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center blue-text"><a id="logo-container" href="#" class="brand-logo"><img src="./static/img/Logo_Porto_Seguro_Conecta.png" alt="Porto Seguro Conecta" height="150"></a></h1>
      <div class="row center">
        <h5 class="header col s12 light">Obrigado por entrar em contato. Em breve entraremos em contato.</h5>
      </div>
    </div>
  </div>

{% endblock %}
